.container {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: lightseagreen;
  height: 100%;
}

.pad-wrapper {
  width: 25%;
  display: grid;
  grid-gap: 25px 25px;
  grid-template-columns: repeat(4, 1fr);
  height: 50%;
}

.slider {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
  font-size: 36px;
  font-weight: bold;
  color: blueviolet;
  font-family: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
}
